<div align = CENTER class="container jumbotron">
    <div>
        <h1>Welcome To Check Post!</h1>
    </div>
    <div class="container" *ngIf="counter==0">
        <div class="">
            <label class="" for="">Enter SSO id:</label>
            <input (keypress)="handleInput($event)" class="" type="text" [(ngModel)]="ssoid">
        </div>
        <div>
            <button class="button button2" (click)="check()">Check!</button>
        </div>
    </div>
    <h1 *ngIf="counter==1" class="animate">Loading</h1>
</div>

<div *ngIf="data!=null">
    <div align = CENTER class="container jumbotron">
            <div>
                <h3>Details of {{ssoid}}</h3>
            </div>
            <div class="container">
            <div class="container">
                <div *ngFor="let item of data | keyvalue; let i = index;">
                    <div class="row" *ngIf="item.value!=null || item.value!=undefined;">
                        <input class="col" type="text" value="{{item.key}}" disabled>
                        <input id="active_style" class="col" type="text" value="{{item.value}}" disabled>
                    </div>
                </div>
            </div>
            <div class="container">
                <div *ngFor="let item of data | keyvalue">
                    <div class="row" *ngIf="item.value==null || item.value==undefined;">
                        <input class="col" type="text" value="{{item.key}}" disabled>
                        <input id="inactive_style" class="col" type="text" value="Not Available." disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>